*{box-sizing: border-box;}

h1 {
	color: white;
	font-family: 'times new roman',sans;
	text-align: center;
	text-decoration: underline;
	text-shadow: 2px 2px brown;
}

body {
	background : url(images/model.jpg) no-repeat;
	background-size: cover;
}
.container {
	width: 100%;
}

.col-lg-4 {
	float: left;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.box1, .box2, .box3 {
	height: 200px;
	background-color: #DEDEDE;
	border: 1px solid black;
	overflow: auto;
}
.box1 {
	background-image: url('https://github.com/ParasModi-10/Coursera-Module2-Solution/tree/master/images/burger.jpg');
	background-size: 100%;
}
.box2 {
	background-image: url('https://github.com/ParasModi-10/Coursera-Module2-Solution/tree/master/images/pizza.jpeg');
	background-size: 100%;
}
.box3 {
	background-image: url('https://github.com/ParasModi-10/Coursera-Module2-Solution/tree/master/images/chilli_potato.jpg');
	background-size: 100%;
}

.dishName1, .dishName2, .dishName3 {
	float: right;
	font-size: 120%;
	color: white;
	padding: 5px 20px 5px 20px;
	border: 1px solid black;
	text-shadow: 2px 2px black;
	font-weight: bold;
	font-style: italic;
}
.dishName1 {background-color: brown;}
.dishName2 {background-color: green;}
.dishName3 {background-color: purple;}
p {
	clear: both;
	color: white;
	font-size: 115%;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	text-shadow: 1px 1px brown;
}

@media(min-width: 992px) {
	.col-lg-1 {
		width: 8.33%;
	}
	.col-lg-2 {
		width: 16.66%;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-4 {
		width: 33.33%;
	}
	.col-lg-5 {
		width: 50%;
	}
	.col-lg-6 {
		width: 100%;
	}
}

@media(min-width: 768px) and (max-width: 991px) {
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33%;
	}
	.col-md-5 {
		width: 50%;
	}
	.col-md-6 {
		width: 100%;
	}
}

@media(max-width: 767px) {
	.col-sm-1 {
		width: 8.33%;
	}
	.col-sm-2 {
		width: 16.66%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-4 {
		width: 33.33%;
	}
	.col-sm-5 {
		width: 50%;
	}
	.col-sm-6 {
		width: 100%;
	}
}
